<!DOCTYPE html>
<html>
    <head>
        <title> Login </title>

    </head>

    <body>
        <h2> Cloud computing A1 Login page </h2>
            
        <form id = "Login_form", method = "post", action = "{{ url_for('root') }}"> 
            
            <label>Email:</label>
            <input type = "text" name ="email", id = "email">

            
			<label>Password:</label>
			<input type="password" name="password", id = "password">

            <button type = 'submit'>Login</button>
            <!-- State 1: brings you to the success page (success)-->

        </form>
            <!-- State 2: tells you "email or password is invalid"-->

            {% if submit == True %}
                {% if invalid == True %}
                    <p>email or password is invalid</p>
                    
                {% else %}
                {% endif %}
            {% endif %}
            
        <form id = "Register_link", method = "post", action = "{{ url_for('register_page') }}">
            <button type = "submit"> Register</button>
        </form>
            

    </body>

</html>
