<!DOCTYPE html>
<html>
    <head>
        <title> Main page </title>

    </head>

    <body>
    <p> Welcome {{username}} </p> 

    <!-- TODO: subscription area  -->


    <!-- TODO: query area -->


    <form id = "query", method = "post", action = "{{url_for('query')}}"> 
        
        <label>title:</label>
            <input type = "text" name ="title", id = "title">
        <label>year:</label>
            <input type = "text" name ="year", id = "year">
        <label>artist:</label>
            <input type = "text" name ="artist", id = "artist">

        <button type = 'submit'> Query </button>

    </form>   
    

    <!-- log out link  -->

    <form id = "logout", method = "get", action = "{{ url_for('logout') }}"> 

        <button type = 'submit'>Logout</button>

    </form>            
    </body>
    
</html>
