
<!DOCTYPE html>
<html>
    <head>
        <title> Register </title>

    </head>

    <body>

        <form id = "return_login", method = "get", action = "{{ url_for('root') }}"> 

            <button type = 'submit'>Return to Login</button>

        </form>        

        <form id = "Register_form", method = "post", action = "{{ url_for('registering') }}"> 


            <label>Email:</label>
            <input type = "text" name ="email", id = "email">
 
			<label>username:</label>
			<input type="text" name="username", id = "username">

			<label>Password:</label>
			<input type="password" name="password", id = "password">

            <button type = 'submit'>Register</button>
            
            <!-- TODO: state1: success, return to login -->
        
        </form>
            <!-- TODO: state2: failure, "The email already exists" if registration is the same -->

            {% if submit   %}

                {% if registered   %}
                    <p>The email already exists</p>
                {% endif %}

                {% if missing_information  %}
                    <p> Invalid input: missing information </p>
                {%endif%}

            {%endif%}
    </body>

</html>
