
<!DOCTYPE html>
<html>
    <head>
        <title> Register </title>

    </head>

    <body>


        <!-- TODO: link login page with registration -->
        
        <div class = "container">
            
            <button>Return to Login</button>
            <!-- TODO: click button call the reference to return -->

        </div>
        

        <form id = "Register_form", method = "post", action = "/register/attempt"> 


            <label>Email:</label>
            <input type = "text" name ="email", id = "email">
 
			<label>username:</label>
			<input type="text" name="username", id = "username">

			<label>Password:</label>
			<input type="password" name="password", id = "password">

            <button type = 'submit'>Register</button>
            
            <!-- TODO: state1: success, return to login -->
          
            <!-- TODO: state2: failure, "The email already exists" if registration is the same -->


        </form>
            {% if submit   %}

                {% if registered   %}
                    <p>The email already exists</p>
                {% endif %}

                {% if missing_information  %}
                    <p> Invalid input: missing information </p>
                {%endif%}

            {%endif%}
    </body>

</html>
